#js-particles {
    height: 100%;
    width: 100%;
    position: fixed;
    background: black;
}

body {
    padding: 0px;
    margin: 0px;
}

h1 {
    text-align: center;
    color: white;
    font-size: 40px;
    letter-spacing: 0.20em;
    font-family: 'Nunito', sans-serif;
}

img {
    width: auto;
    height: auto;
    min-width: 64px;
}

.icon {
    position: absolute;
    text-align: center;
    filter: invert(100%);
    transition: 0.5s;
    max-width: 20vw;
    max-height: 10vh;
    top: 50%;
}

.icon-email {
    position: absolute;
    left: 38%;
}

.icon-github {
    position: absolute;
    left: 48%;
}

.icon-linkedin {
    position: absolute;
    left: 58%;
}

@media (max-width:1080px) {
    h1 {
        font-size: 48px;
    }
    .icon {
        position: absolute;
        width: 120px;
        left: 45%;
        max-height: 8vh;
    }
    .icon-email {
        position: absolute;
        top: 35%;
    }
    .icon-github {
        position: absolute;
        top: 50%;
    }
    .icon-linkedin {
        position: absolute;
        top: 65%;
    }
}